*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 22% 20% 7% 27% 22%;
    grid-template-rows: 29% 24% 7% 18% 18%;
    /* overflow: hidden; */

    grid-template-areas: 
    'left-top top-center1 top-center1 top-center2 right-top'
    'left-top center center center right-top'
    'left-bottom center center center right-top'
    'left-bottom center center center right-bottom'
    'left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom'
    ;
    gap: 10px;
}
.left-top{
    grid-area: left-top;
    border-radius: 20px;
    border: 1px solid black;
    background-color: lavender;
}
.left-bottom{
    grid-area: left-bottom;
    border-radius: 20px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

.top-center1{
    grid-area: top-center1;
    border-radius: 20px;
    border: 1px solid black;
    background-color: midnightblue;
}
.top-center2{
    grid-area: top-center2;
    border-radius: 20px;
    border: 1px solid black;
    background-color: lightcoral;
}

.center{
    grid-area: center;
    border-radius: 20px;
    border: 1px solid black;
    background: linear-gradient(
        135deg,
        #fdeef2 0%,
        #fce7ec 50%,
        #fdeff3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.bottom-center1{
    grid-area: bottom-center1;
    border-radius: 20px;
    border: 1px solid black;
    background-color: crimson;
}
.bottom-center2{
    grid-area: bottom-center2;
    border-radius: 20px;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.right-top{
    grid-area: right-top;
    border-radius: 20px;
    border: 1px solid black;
    background-color: beige;
    padding: 20px;
    text-align: center;
}
.right-bottom{
    border-radius: 20px;
    border: 1px solid black;
    grid-area: right-bottom;
    background-color: darkcyan;
}
.circle{
    height: 100%;
    width: 50%;
    border-radius: 50%;
    border: 1px solid black;
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 170, 184));
}
.center img{
    position: absolute;
    bottom: 0;
    height: 400px;
}

.right-top h1{
    padding-bottom: 20px;
    font-family: cursive;
    text-align: left;
}
.right-top img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: -5px;
    border: 3px solid white;
}
.h-line{
    margin: 20px 10px;
    border: 0.01rem solid rgba(143, 141, 141, 0.644);
    box-shadow: 0 3px 10px rgb(220, 214, 214);
}